doctype html
html
    include ../partials/head.pug
    body
      .loading-boxes.display-none
        .box
          div
          div
          div
        .box
          div
          div
          div
        .box
          div
          div
          div
        .box
          div
          div
          div
      .all-wrapper