/* Text */

.text-center {
    text-align: center;
}

.text-project-name {
    color: #F3F3F3;;
    font-family: 'Poppins', sans-serif;
    font-style:normal ;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    margin-left: 20px;
}

.wallet-address {
    background: none;
    border: none;
    color: #909090;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 100%;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}




/* Colors */

.navbar-color {
    background: #1e1e1e;
}


/* Buttons */

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

.btn-primary {
    background: #336ea2;
}

.btn-primary:hover {
    color: #336ea2;
    background-color: white;
    border: 0.5px solid #336ea2;
}

.btn-dark {
    background: #333;
}

.btn-dark:hover {
    color: #333;
    background-color: white;
    border: 0.5px solid #333;
}

.btn-block {
    width: 100%;
    text-align: center;
}

/* Container */

.container {
    /* max-width: 1100px; */
    margin: 0 auto;
    padding-left: 100px;
}




