* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.all-wrapper {
    background: black;
    justify-content: left;
    align-items: center;
    display: flex;
}
#navbar {
    margin: 0 auto;
    padding-left: 100px;
    background: #1e1e1e;
}


/* NAVBAR */


.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
.navbar .right-side-of-navbar{
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}
.navbar .right-side-of-navbar .project-image {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 100%;
    overflow: hidden;
    background-color: #1e1e1e;
}
.navbar .right-side-of-navbar .language-part {
    display: flex;
    margin: 40px;
}
.navbar .right-side-of-navbar .language-part .language {
    color: #d9d9d9;
    margin: 4px;
}



/* SIDEBAR */


.all-wrapper .sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 100%;
    border-right: 1px solid whitesmoke;
    padding-top: 100px;
    padding-bottom: 300px;
    padding-left: 40px;
    padding-right: 40px;
}
.all-wrapper .sidebar .item-of-sidebar {
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
}

/* Sidebar project info part */
.all-wrapper .sidebar .item-of-sidebar .text-project-name {
    color: #F3F3F3;
    ;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    margin-left: 20px;
}

.all-wrapper .sidebar .item-of-sidebar .wallet-address {
    background: none;
    border: none;
    color: #909090;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 100%;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all-wrapper .sidebar .item-of-sidebar .node-info {
    bottom: 0;
    left: 0;
}

.all-wrapper .sidebar .item-of-sidebar .node-info .node-status-sign {
    display: inline-block;
    border: 1px solid white;
    padding: 3px 20px;
    border-radius: 10px;
    background: #c9ef94;
    color: #2f6514;
}

.all-wrapper .sidebar .item-of-sidebar .node-info .node-version-sign {
    display: inline-block;
    border: 1px solid white;
    padding: 3px 20px;
    border-radius: 10px;
    background: #fed695;
    color: #a3382a;
}

/*Sidebar Menu Part */
.all-wrapper .sidebar .item-of-sidebar .menu-element {
    display: block;
    margin: 20px 0;
}

/* Sidebar Buttons part */
.all-wrapper .sidebar .item-of-sidebar .buttons .main-buttons {
    box-sizing: border-box;
    background: #313131;
    width: 240px;
    height: 38px;
    border-left: 3px solid white;
    line-height: 18px;
    font-size: 16px;
    padding-left: 40px;
    text-align: left;
    outline: none;
}
.all-wrapper .sidebar .item-of-sidebar .buttons .main-buttons:hover {
    background: rgb(143, 141, 141);
}
.all-wrapper .sidebar .item-of-sidebar .buttons #subbuttons-ul {
    display: none;
    list-style: none;
    padding-left: 0px;
    padding: 10px 0;
}
.all-wrapper .sidebar .item-of-sidebar .buttons .subbuttons-div li {
    margin: 15px;
    padding: 5px;
    text-align: left;
}
.all-wrapper .sidebar .item-of-sidebar .buttons .subbuttons-div li:hover {
    border: 1px solid #313131;

}

/* Sidebar Footer */
.all-wrapper .sidebar .item-of-sidebar .icon {
    font-size: 20px;
    margin: 6px;
}


/* CONTENT */


.all-wrapper .all-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 360px);
    ;
    height: auto;
}

/* progress bars */
.all-wrapper .all-content-wrapper .progress-bars {}

/* first progress bar */
.all-wrapper .all-content-wrapper .progress-bars .first-progress-bar {
    display: flex;
    box-sizing: border-box;
    border: 5px solid green;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}



