.validator-operations-main{
    width: calc(100%);
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-left: 240px;
    padding-right: 240px;
    flex-direction: column;
    
}

.validator-operations-main .text-of-node-management-titles{
    box-sizing: border-box;
    width: 100%;
    font-size: 32px;
}

.two-form-items-horizontally{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.input-of-create-validator-form{
    font-size: 25px;
    color: #959595;
    background-color: #343434;
    border: none;
    border-bottom: 1px solid #0F62FE;
}

.form-item{
    margin-right: 10px;
}

.form-item-text{
    color: #959595;
}

.submit-button-item {
    margin-top: 25px;
    width: 100%;
}

.submit-button {
    background-color: #0F62FE;
    width: 12%;
    height: 50px;
    border: none;
}

.radio-buttons {
    color: #0F62FE;
    accent-color: #0f62fe;
    background-color: black;
}