@import url('https://fonts.googleapis.com/css?family=Space+Grotesk&display=swap');

:root {
  --main-color: rgba(15, 98, 254, 1);
  --second-color: rgba(38, 38, 38, 1);
  --second-color-hover: rgba(30, 30, 30, 1);
  --third-color: rgba(57, 57, 57, 1);
  --third-color-hover: rgba(49, 49, 49, 1);
  --fourth-color: rgba(198, 198, 198, 1);
  --background-color: rgba(18, 18, 18, 1);
  --logo-color: rgba(255, 255, 255, 1);
  --border-color: rgba(111, 111, 111, 1);
  --text-color: rgba(255, 255, 255, 1);
  --second-text-color: rgba(244, 244, 244, 1);
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif, Arial, Helvetica, monospace;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: var(--background-color);
}

body {
  margin: 0px;
  padding: 0px;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.all-header-wrapper {
  margin-left: 10vw;
  margin-top: 10vh;
}

.all-header-logo {
  width: 128px;
  cursor: pointer;
  fill: var(--logo-color);
}

.all-content-wrapper {
  height: calc(80vh - 60px);
  min-height: fit-content;
  display: flex;
  align-items: center;
}

.login-page-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15vw;
  padding-left: 10vw;
}

.login-page-left-wrapper {
  width: auto;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
}

.login-page-motto {
  background: linear-gradient(111deg, var(--main-color) -140%, rgba(148, 185, 255, 1) 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 32px;
  cursor: default;
}

.login-page-heading {
  color: var(--text-color);
  font-size: 32px;
  padding-bottom: 50px;
  cursor: default;
}

.each-login-page-label {
  display: flex;
  color: var(--fourth-color);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 22px;
  cursor: default;
}

.each-login-page-text-field {
  background-color: var(--second-color);
  border: 0px;
  border-bottom: 2px solid var(--border-color);
  width: 420px;
  height: 48px;
  color: var(--second-text-color);
  font-size: 14px;
  padding-left: 16px;
  padding-right: 40px;
}

.each-login-page-text-field:focus {
  outline: none;
  border-color: var(--main-color);
}

.each-login-page-text-field:not(:placeholder-shown) {
  background-color: var(--third-color);
}

.each-login-page-toggle {
  position: relative;
  cursor: pointer;
  top: -38px;
  left: 386px;
  width: 28px;
  height: 28px;
  fill: var(--fourth-color);
}

.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  overflow-y: auto;
  max-height: 192px;
  margin-top: -33px;
}

.autocomplete-active {
  background-color: var(--main-color) !important;
  color: var(--text-color);
}

.each-autocomplete-item {
  display: flex;
  cursor: pointer;
  background: var(--second-color);
  height: 48px;
  align-items: center;
  color: rgba(188, 188, 188, 1);
  width: 420px;
}

.each-autocomplete-item:hover {
  background-color: var(--second-color-hover);
}

.each-autocomplete-item-icon {
  margin-left: 37px;
  margin-right: 18px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 50%;
}

.each-autocomplete-item-ip {
  margin-left: auto;
  margin-right: 120px;
}

.selected-item-modify {
  border-bottom: 2px solid var(--border-color);
  display: none;
  background-color: var(--third-color);
}

.selected-item-modify:hover {
  background-color: var(--third-color-hover);
}

.login-page-login-button {
  display: flex;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 0px;
  width: 208px;
  height: 48px;
  padding-left: 13px;
  padding-right: 13px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.login-page-login-button:hover {
  opacity: 0.9;
}

.login-page-login-button-svg {
  vertical-align: middle;
  fill: var(--logo-color);
  width: 20px;
}

.login-page-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--fourth-color);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.login-page-checkbox:checked {
  background-image: url("assets/checked.png");
  background-size: 17px 17px;
}

.login-page-checkbox-label {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.login-page-checkbox-label:hover {
  opacity: 0.9;
}

.login-page-warning {
  position: absolute;
  padding-top: 30px;
  align-items: center;
  display: flex;
}

.login-page-warning-svg {
  height: 16px;
  fill: rgba(219, 0, 0, 1);
}

.login-page-warning-text {
  color: var(--text-color);
  font-size: 16px;
  margin-left: 10px;
}

.all-footer-wrapper {
  margin-top: auto;
  margin-left: 10vw;
  margin-bottom: 10vh;
}

.each-footer-anchor {
  text-decoration: none;
  align-items: center;
  margin-right: 16px;
}

.each-footer-anchor-icon {
  width: 24px;
  fill: var(--logo-color);
  cursor: pointer;
}