* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Space Grotesk';
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
	background: #121212;
	background-size: cover;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
.display-none {
  display: none;
}

.all-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.all-header-wrapper {
  margin-left: 10%;
  margin-top: 5%;
}

.all-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  margin-top: auto;
}

.all-footer-wrapper {
  margin-top: auto;
  margin-left: 10%;
  margin-bottom: 5%;
}

.login-page-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 10%;
}

.login-page-left-wrapper {
  width: auto;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.start-page-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
}

.login-page-motto {
  background: linear-gradient(111deg, #0F62FE -140%, #94B9FF 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  font-size: 32px;
}

.login-page-heading {
  color: #FFFFFF;
  font-size: 32px;
  padding-bottom: 50px;
}

.each-footer-anchor {
  text-decoration: none;
  align-items: center;
  margin-right: 16px;
}

.each-footer-icon {
  width: 24px;
  cursor: pointer;
}

.each-login-page-label {
  display: inline-flex;
  color: #C6C6C6;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 22px;
}

.each-login-page-text-field {
  background-color: #262626;
  border: 0px;
  border-bottom: 2px solid #6F6F6F;
  width: 420px;
  height: 48px;
  color: #F4F4F4;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 40px;
}
.each-login-page-text-field:focus {
  outline: none;
  border-color: #0F62FE;
}

.login-page-login-button {
  display: flex;
  background-color: #0F62FE;
  color: #FFFFFF;
  border: 0px;
  width: 208px;
  height: 48px;
  padding-left: 13px;
  padding-right: 13px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.login-page-login-button:hover {
  opacity: 0.9;
}

.login-page-checkbox-label {
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.login-page-checkbox-label:hover {
  opacity: 0.9;
}

.login-page-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #121212;
  border: 1px solid #C6C6C6;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
}
.login-page-checkbox:hover {
  opacity: 0.9;
}
.login-page-checkbox:checked {
  background-image: url("assets/checked.png");
  background-size: 17px 17px;
}

.login-page-warning {
  position: relative;
  padding-top: 40px;
  align-items: center;
  display: flex;
}

.login-page-warning-text {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  left: 0;
  right: 0;
}

.each-autocomplete-item {
  cursor: pointer;
  background: rgb(38, 38, 38);
  height: 48px;
  display: flex;
  align-items: center;
  color: #BCBCBC;
}

.each-autocomplete-item:hover {
  background-color: #1e1e1e;
}

.each-autocomplete-item-icon {
  margin-left: 37px;
  margin-right: 18px;
  width: 25px;
  height: 25px; 
  vertical-align: middle;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
