* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Space Grotesk';
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
	background: #121212;
	background-size: cover;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.display-none {
  display: none;
}

.all-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.all-content-wrapper {
  margin-top: 80px;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
}

.login-page-wrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  padding-bottom: 80px;
}

.login-page-left-wrapper {
  width: auto;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.start-page-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  width: 310px;
  min-width: 310px;
}

.login-page-motto {
  background: linear-gradient(111deg, #0F62FE -140%, #94B9FF 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  font-size: 32px;
  line-height: 160%;
}

.login-page-heading {
  color: #FFFFFF;
  font-size: 32px;
}

.each-footer-anchor {
  align-items: center;
}

.each-footer-icon {
  width: 32px;
  cursor: pointer;
}

.login-page-label {
  display: inline-flex;
  color: #C6C6C6;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 22px;
}

.all-footer-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  margin-top: auto;
}

input[type="text"], input[type="password"] {
  background-color: #262626;
  border: 0px;
  border-bottom: 2px solid #6F6F6F;
  width: 420px;
  height: 48px;
  color: #F4F4F4;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 40px;
}

button {
  background-color: #0F62FE;
  color: #FFFFFF;
  border: 0px;
  width: 208px;
  height: 48px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.login-page-checkbox {
  margin: 0px;
  width: 22px;
  height: 22px;
}

.login-page-checkbox:hover {
  opacity: 0.8;
}

label input[type="checkbox"]:checked + svg {
  /* stroke: #007bff; */
  fill: #007bff;
}

/* 
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: #121212;
  border: 1px solid #C6C6C6;
  cursor: pointer;
  margin-right: 8px;
} */

/* input[type="checkbox"]:checked {
  background-image: url("assets/checked.png");
  background-size: 16px 16px;
} */

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  cursor: pointer;
  background-color: #393939;
  height: 48px;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
